/*********************************************

This is the style file for this project.

**********************************************/


#board {
  width: 400px;
}

.white-1e1d7 {
  background-color: #AA0000;
}

.black-3c85d {
  background-color: #00AA00;
}

.highlight1-32417 {
  -webkit-box-shadow:inset 0 0 3px 3px red;
  box-shadow: inset 200px 200px 0px 200px rgba(255,255,0,0.75);
}
