/*********************************************

This is the style file for this project.

**********************************************/


#board {
  width: 400px;
}

.white-1e1d7 {
  background-color: #AA0000;
}

.black-3c85d {
  background-color: #00AA00;
}
