/*********************************************

This is the style file for this project.

**********************************************/

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Times, serif;
  overflow: hidden;
  background-color: rgb(240,240,240);
  text-align: center;
}

#main {
  margin: 0;
  width: 100%;
}

.nodisplay {
  display: none;
}

#wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

#title {
  font-weight: bold;
}

.menu_button {
  text-decoration: underline;
}

.quote {
  text-align: left;
  font-style: italic;
}

.credit {
  text-align: right;
}

#header {
  font-weight: bold;
  text-align: center;
}

#sub-header {
}

#game {
  margin: 0 auto;
  display: none;
  border: none;
}

#pgn {
  border: 1px solid grey;
  overflow-y: scroll;
  text-align: left;
}

@media only screen and (max-device-width: 768px) {
  body {
    background-color: white;
  }

  #wrapper {
    width: 90vw;
    height: 100vh;
  }

  #title {
    padding-top: 2em;
    font-size: 4em;
    padding-bottom: 1em;
  }

  .menu_button {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  .quote {
    font-size: 4em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }

  .credit {
    font-size: 3em;
    text-align: right;
    font-style: normal;
    padding-left: 1em;
    padding-right: 1em;
  }

  #header {
    font-size: 4em;
    padding-top: 1em;
  }

  #sub-header {
    font-size: 2em;
    margin-bottom: 1em;
  }

  #board {
    width: 90vw;
  }

  #pgn {
    margin-top: 1em;
    width: 90vw;
    font-size: 3em;
    height: 20vw;
  }

  #logo img {
    padding-top: 10em;
  }
}

@media only screen and (min-device-width: 768px) {

  #wrapper {
    width: 480px;
    height: 640px;
  }

  #main {
    margin-top: 2em;
    /* padding: 20px; */
  }

  #title {
    font-size: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
  }

  .menu_button {
    font-size: 1.75em;
    margin-bottom: 0.5em;
  }

  .quote {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    font-size: 1.25em;
  }

  .credit {
    padding-right: 40px;
    font-size: 1em;
  }

  #header {
    font-size: 1.5em;
    padding-top: 1em;
  }

  #sub-header {
    font-size: 1em;
    margin-bottom: 1em;
  }

  #game {
    width: 400px;
  }

  #board {
    width: 400px;
  }

  #pgn {
    margin-top: 1em;
    width: 400px;
    font-size: 1.5em;
    height: 100px;
  }

  #logo img {
    max-width: 50px;
    padding-top: 40px;
  }
}

#sisyphus {
  text-decoration-color: #aaf;
}

#prometheus {
  text-decoration-color: #faa;
}

#zeno {
  text-decoration-color: #dad;
}

#danaids {
  text-decoration-color: #dda;
}

#tantalus {
  text-decoration-color: #ada;
}
